---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "Blog page"
---

<BaseLayout pageTitle={pageTitle}>
        <hr>
        <ul>
            <li><a href="/posts/post-1/">Post 1</a></li>
            <li><a href="/posts/post-2/">Post 2</a></li>
            <li><a href="/posts/post-3/">Post 3</a></li>
        </ul>
        <hr>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, dolor mollitia. In, quasi voluptates, minima unde officiis eius dolorum ad vel iusto tenetur dolor nostrum ab, illo cum rerum tempora.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, odio laudantium consequuntur, quam pariatur hic unde enim distinctio, earum magni doloribus perspiciatis nobis ipsam aliquam odit perferendis corporis ex. Amet.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque facilis dolorem non molestiae expedita reiciendis, adipisci nihil veritatis enim quas culpa ratione consequuntur quae laborum quam perferendis omnis doloribus. Porro!</p>

   </BaseLayout>