---
import BaseLayout from '../layouts/BaseLayout.astro'
const allPosts = await Astro.glob('../pages/posts/*.md')
const pageTitle = "Blog page"

import BlogPost from '../components/BlogPost.astro'
---

<BaseLayout pageTitle={pageTitle}>
        <hr>
        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
        <hr>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, dolor mollitia. In, quasi voluptates, minima unde officiis eius dolorum ad vel iusto tenetur dolor nostrum ab, illo cum rerum tempora.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, odio laudantium consequuntur, quam pariatur hic unde enim distinctio, earum magni doloribus perspiciatis nobis ipsam aliquam odit perferendis corporis ex. Amet.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque facilis dolorem non molestiae expedita reiciendis, adipisci nihil veritatis enim quas culpa ratione consequuntur quae laborum quam perferendis omnis doloribus. Porro!</p>

   </BaseLayout>